.form{
    width: 100%;
    padding-top: 20px;
    align-content: center;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text] {
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }