

<!-- <h1>Github API</h1> -->
<!-- <button (click)="getUsers()"> Get Users</button> -->

<div class="container-fluid">
    <app-header></app-header>
    <div class="row">
		<div class="col-md-12">
            <div class="form">
                <input type="text" [(ngModel)]="login" (input)="Search()" placeholder="search user" id="Input" oninput="showCard()"/>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
            
            <div class="card" >
                <app-users [users]="users"></app-users>
            </div>

        </div>
        <div class="col-md-2">
		</div>
    </div>
    <app-footer></app-footer>
</div>