

<!-- <h1>Github API</h1> -->
<!-- <button (click)="getUsers()"> Get Users</button> -->

<div class="container-fluid">
    <app-header></app-header>
    <div class="row">
		<div class="col-md-12">
            <div class="form">
                <input type="text" [(ngModel)]="login" (input)="Search()"/>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-9">
            
            
            <app-users [users]="users"></app-users>
		</div>
    </div>
    <app-footer></app-footer>
</div>