
a:link, a:visited {
    background-color: #418739;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: small;
  }
  
  a:hover, a:active {
    background-color: red;
    
  }

.Users{
    font-family: sans-serif;
    align-content: center;
    padding-left: 210px;
}

ul{
    list-style-type: none;
}

.card {
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    border-radius: 5px;
    align-content: center;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  img {
    border-radius: 5px 5px 0 0;
  }