<div class="Users">
<ul *ngFor = "let user of users">

   <div class="card">
      <img src="{{user.avatar_url}}" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>{{ user.login }}</b></h4> 
        <p><a href="https://github.com/{{user.login}}/">Visit Github</a></p> 
        <p><a href="https://github.com/{{user.login}}?tab=repositories/">See Repos</a></p>
      </div>
    </div>

   <!-- <li>
     
         <img width="100" height="100" src="{{user.avatar_url}}" alt=""><br>

         {{ user.login }} <br>

      <a href="https://github.com/{{user.login}}/">Visit Github</a>

      <br>
      <a href="https://github.com/{{user.login}}?tab=repositories/">See Repos</a>
      

   </li>
   <hr> -->
  
</ul>
</div>
